body {
  background-color: #4B4B4B;
}
.logo {
  position: absolute;
  top: 37px;
  left: 90px;
  width: 60px;
  transform: scale(2)
}


.menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu li {
  margin-right: 10px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #555;
  transition: background-color 0.3s ease;
}

.menu a:hover {
  background-color: #777;
}
.menu-container {
  background-color: #333;
  padding: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

h1{
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
}

p {
  background-color: #fff;
  text-align: justify;
  padding: 10px;
  border-radius: 8px;
  font-size: 12pt;
  line-height: 1.5;
}

img {
  width: 50%;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.container {
  margin: 20px auto 0 auto;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
footer {
  background-color: black;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 8px;
  height: 90px;
}

footer img {
  width: 100px; 
  margin-right: 20px; 
}

footer p {
    margin-left: auto;
    text-align: right;
    background-color: transparent;
    color: white;
    margin-left: auto; 
    text-align: right; 
}



