/* Estilos generales */
*{
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
  }
  
  /* Estilos para el encabezado */
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    height: 100%;
    justify-content: center;
    flex-direction: column;
    color: #FFF;
    background-image: linear-gradient(
      rgba(0,0,0,0.7),
      rgba(0,0,0,0.7)
  ),
  url(images/bg.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
  }

h1{
    text-align: center;
}

#logo {
  position: absolute;
  top: 37px;
  left: 90px;
  width: 60px;
  transform: scale(2)
}

/* Estilos para la barra de navegación */
nav {
    background-color: #555;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: flex-end;
  }

  .menu{
    display: flex;
    padding: 10px 15px 3px;
    text-decoration: none;
    transition: background 0.3s ease;
    list-style: none;
    align-items: center;
    background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
    background-blend-mode: screen;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  }

  .menu li {
    margin-right: 10px;
  }

  /* Estilos para el contenido principal */
  main {
    padding: 20px;
  }
  .mainImage {
    width: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  }
  /* Estilos para las secciones */
  section {
    margin-bottom: 20px;
  }
  .texto{
    margin-left: 20px;
    background-color: transparent;
    margin-right: 20px; 
    text-align: justify; 
  }

  .container {
    margin: 20px auto 0 auto;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilos para el pie de página */
  footer {
    background-color: black;
    color: #fff;
    padding: 100px 0;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    position: relative;
    display: flex;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  }
  footer img {
    width: 100px; 
    margin-left: 20px;
  }
  
  footer p {
      margin-left: auto;
      background-color: transparent;
      color: white;
      margin-right: 20px; 
      text-align: right; 
  }
  
  /* Estilos para dispositivos móviles */
  @media screen and (max-width: 768px) {
    header, nav, main, section, footer {
      padding: 10px;
    }
  }
  